.App {
  text-align: center;
}
input, button {
  font-size: 20px;
  margin: 5px;
}
.book {
  font-size: 20px;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 15px;
}
section {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}